@import "../layout/header";
@import "../layout/footer";

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
       
#page-title{

    margin: 50px 0;
    .page{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
            align-items: center;
        .link{

            a{
                text-decoration: none;
                 color: #ffffff;
                font-weight: normal;
                 padding: 0 0px;
                letter-spacing: 0.6px;
                &:hover{
                    color:#ffba00;
                }
                
            }
            .shop{
                color: #ffffff;
            }
    
        }

        .title{

            h3{
             font-size: 25px;
             color: #ffffff;
            }
        }
    }
}
 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body{
    background-color: #1d1427;
    background-image: url("/assets/img/body-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: #888888;
}


#page-title{

    margin: 50px 0;
    .page{
        display: flex;
        justify-content: space-between;

        .link{

            a{
                text-decoration: none;
                 color: #ffffff;
                font-weight: normal;
                 padding: 0 0px;
                letter-spacing: 0.6px;
                &:hover{
                    color:#ffba00;
                }
                
            }
            .shop{
                color: #ffffff;
            }
    
        }

        .title{

            h3{
             font-size: 25px;
             color: #ffffff;
            }
        }
    }
}

#contact{
    background-color: #170f1f;
    margin: 50px 0;
        
    .contact-us{

        padding: 20px 0;

        .line{
        
            margin: 0 auto;
            width: 50px;
            height: 2px;
            background-color: #ffba00;
        }
        h3{
            text-align: center;
            color: #ffffff;
        }
        p{
            text-align: center;
            color: #ffffff;
        }
    
        .input-group{
            width: 100%;
            margin: 20px 0;
            position: relative;
            input{
                width: 100%;
                border: 1.5px solid #9e9e9e;
                border-radius: 16px;
                background: none;
                 padding: 16px;
                font-size: 16px;
                color: #ffffff;
                transition: 150ms cubic-bezier(0.4,0,0.2,1);
                &:focus{
                    outline: none;
                    border: 1.5px solid #ffba00;
                }
                &:focus~label{
                    transform: translateY(-50%) scale(0.8);
                    background-color: #1d1427;
                    padding: 0 0.2em;
                    color: #ffba00;
                }
            }
            label{
                position: absolute;
                left: 16px;
                color: #ffffff;
                pointer-events: none;
                transform: translateY(16px);
                transition: 150ms cubic-bezier(0.4,0,0.2,1);
            }
    
            textarea{
                width: 100%;
                border: 1.5px solid #9e9e9e;
                border-radius: 16px;
                background: none;
                padding: 16px;
                font-size: 16px;
                color: #ffffff;
                transition: 150ms cubic-bezier(0.4,0,0.2,1);
                &:focus{
                    outline: none;
                    border: 1.5px solid #ffba00;
                }
                &:focus~label{
                    transform: translateY(-50%) scale(0.8);
                    background-color: #1d1427;
                    padding: 0 0.2em;
                    color: #ffba00;
                }
            }
        }
    
    
        button{
    
            font-size: 1.25rem;
            background-color: #ffba00;
            color: #ffffff;
            padding: 0.5em 1em ;
            padding-left: 0.9em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 16px;
            overflow: hidden;
            transition: all 0.2s;
            border: 1px solid #1d1427;
           &:hover{
                background-color: #170f1f;
                border: 1px solid #ffba00;
                color: #ffba00;
           }
          
            
            
         
           
        }
    }
 
}
