@media (max-width: 575.98px) {
  #topbar-outer .header-contact {
    float: right !important;
  }
  #topbar-outer .header-contact .widget-title {
    font-size: 12px !important;
  }
  #topbar-outer .header-contact .widget-title i {
    display: none !important;
  }
  #topbar-outer .header-contact ul i {
    display: none !important;
  }
  #topbar-outer .header-contact ul .number {
    font-size: 8px !important;
  }
  #topbar-outer .login-register .icons a {
    color: #a6a6a6;
    text-decoration: none;
    font-size: 8px !important;
  }
  #topbar-outer .login-register .icons a:hover {
    color: #ffba00;
  }
  #topbar-outer .login-register .icons a .fas {
    display: none !important;
  }
  #topbar-outer .login-register .icons a i {
    font-size: 10px !important;
  }
  #topbar-outer .login-register .icons .signIn {
    padding-right: 10px;
  }
}
@media (max-width: 767.98px) {
  #topbar-outer .header-contact .widget-title {
    font-size: 12px !important;
  }
  #topbar-outer .header-contact .widget-title i {
    display: none !important;
  }
  #topbar-outer .header-contact ul i {
    display: none !important;
  }
  #topbar-outer .header-contact ul .number {
    font-size: 8px !important;
  }
  #topbar-outer .login-register .icons a {
    color: #a6a6a6;
    text-decoration: none;
    font-size: 12px !important;
  }
  #topbar-outer .login-register .icons a:hover {
    color: #ffba00;
  }
  #topbar-outer .login-register .icons a .fas {
    display: none !important;
  }
  #topbar-outer .login-register .icons .signIn {
    padding-right: 10px;
  }
}
@media (max-width: 991.98px) {
  #topbar-outer .header-contact .widget-title {
    font-size: 12px !important;
  }
  #topbar-outer .header-contact .widget-title i {
    display: none !important;
  }
  #topbar-outer .header-contact ul i {
    display: none !important;
  }
  #topbar-outer .header-contact ul .number {
    font-size: 8px !important;
  }
  #topbar-outer .search-bar form input::-moz-placeholder {
    font-size: 10px !important;
  }
  #topbar-outer .search-bar form input::placeholder {
    font-size: 10px !important;
  }
  #topbar-outer .search-bar form i {
    display: none !important;
  }
  #topbar-outer ul i {
    display: none !important;
  }
  #topbar-outer ul .number {
    font-size: 12px !important;
  }
  #topbar-outer .login-register .icons a {
    color: #a6a6a6;
    text-decoration: none;
    font-size: 15px !important;
  }
  #topbar-outer .login-register .icons a:hover {
    color: #ffba00;
  }
  #topbar-outer .login-register .icons .signIn {
    padding-right: 10px;
  }
  #site-header-main .header-left {
    display: flex;
    align-items: center;
  }
  #site-header-main .header-left .menu {
    display: block !important;
  }
  #site-header-main .header-left .menu .btn {
    border: none !important;
    box-shadow: none !important;
  }
  #site-header-main .header-left .menu .fa-bars {
    color: #ffffff !important;
  }
  #site-header-main .header-left .menu .offcanvas-start {
    width: 200px !important;
  }
  #site-header-main .header-left .menu .offcanvas-body {
    background-color: #1d1427 !important;
  }
  #site-header-main .header-left .menu .offcanvas-body ul {
    padding: 0;
    list-style: none;
  }
  #site-header-main .header-left .menu .offcanvas-body ul li {
    padding-bottom: 10px;
  }
  #site-header-main .header-left .menu .offcanvas-body ul li a {
    text-decoration: none;
    color: #ffffff;
  }
  #site-header-main .header-left .menu .offcanvas-body ul li a:hover {
    color: #ffba00;
    border-bottom: 1px solid #ffba00;
  }
  #site-header-main .header-left .menu .offcanvas-header {
    background-color: #1d1427 !important;
  }
  #site-header-main .header-left .menu .offcanvas-header .btn-close {
    background-color: #ffffff !important;
    color: #ffffff !important;
    width: 8px !important;
    height: 8px !important;
  }
  #site-header-main .header-left a {
    display: inline-block;
    text-decoration: none;
  }
  #site-header-main .header-left a img {
    max-width: 100%;
    height: auto;
  }
  #site-header-main .header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none !important;
  }
  #site-header-main .header-center ul {
    display: flex;
    list-style: none;
    gap: 7px !important;
  }
  #site-header-main .header-center ul li {
    margin-right: 15px;
  }
  #site-header-main .header-center ul li:last-child {
    margin-left: 0;
  }
  #site-header-main .header-center ul li a {
    text-decoration: none;
    color: #a6a6a6;
    font-size: 10px !important;
    font-weight: 500;
  }
  #site-header-main .header-center ul li a:hover {
    color: #ffba00;
  }
  #site-header-main .header-center ul li .active-nav {
    border-bottom: 1px solid #ffba00;
    color: #ffba00;
  }
  #site-header-main .header-right .image-count a {
    width: 20px !important;
    height: 20px !important;
  }
  #site-header-main .header-right .image-count a img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #site-header-main .header-right span {
    font-size: 10px;
  }
}
@media (max-width: 1199.98px) {
  #site-header-main .header-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #site-header-main .header-center ul {
    display: flex;
    list-style: none;
    gap: 7px !important;
  }
  #site-header-main .header-center ul li {
    margin-right: 15px;
  }
  #site-header-main .header-center ul li:last-child {
    margin-left: 0;
  }
  #site-header-main .header-center ul li a {
    text-decoration: none;
    color: #a6a6a6;
    font-size: 10px !important;
    font-weight: 500;
  }
  #site-header-main .header-center ul li a:hover {
    color: #ffba00;
  }
  #site-header-main .header-center ul li .active-nav {
    border-bottom: 1px solid #ffba00;
    color: #ffba00;
  }
}
@media (max-width: 1399.98px) {
  #site-header-main .header-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #site-header-main .header-center ul {
    display: flex;
    list-style: none;
    gap: 10px;
  }
  #site-header-main .header-center ul li {
    margin-right: 15px;
  }
  #site-header-main .header-center ul li:last-child {
    margin-left: 0;
  }
  #site-header-main .header-center ul li a {
    text-decoration: none;
    color: #a6a6a6;
    font-size: 15px !important;
    font-weight: 500;
  }
  #site-header-main .header-center ul li a:hover {
    color: #ffba00;
  }
  #site-header-main .header-center ul li .active-nav {
    border-bottom: 1px solid #ffba00;
    color: #ffba00;
  }
}
.active-nav {
  border-bottom: 1px solid #ffba00 !important;
  color: #ffba00 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
}

.active-nav {
  border-bottom: 1px solid #ffba00 !important;
  color: #ffba00 !important;
}

.scroll-ivent {
  width: 100%;
  position: fixed;
  top: 0;
  transition: transform 5s ease;
}

#topbar-outer {
  border-bottom: 1px solid #342c3d;
}
#topbar-outer .widget {
  padding: 10px 0;
  display: flex;
}
#topbar-outer .widget a {
  text-decoration: none;
  color: #a6a6a6;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
#topbar-outer .search-bar {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
#topbar-outer .search-bar .search {
  width: 50%;
  background-color: #1d1427;
  border-radius: 3px;
  border: 1px solid #342c3d;
}
#topbar-outer .search-bar .search input {
  width: 90%;
  color: #a6a6a6;
  outline: none;
  border-radius: 3px;
  background-color: #1d1427;
  border: none;
}
#topbar-outer .search-bar .search input::-moz-placeholder {
  padding-left: 10px;
}
#topbar-outer .search-bar .search input::placeholder {
  padding-left: 10px;
}
#topbar-outer .search-bar .search .search-button {
  background-color: #1d1427;
  border: none;
}
#topbar-outer .search-bar .search .search-button i {
  color: #a6a6a6;
}
#topbar-outer .search-bar .search .search-button i:hover {
  color: #ffba00;
}
#topbar-outer .header-contact {
  position: relative;
  z-index: 3;
  width: 70%;
}
#topbar-outer .header-contact .widget-title {
  color: #a6a6a6;
  text-transform: capitalize;
  cursor: pointer;
}
#topbar-outer .header-contact .widget-title:hover {
  color: #ffba00;
}
#topbar-outer .header-contact .widget-title:hover i {
  color: #ffba00;
}
#topbar-outer .header-contact i {
  color: #a6a6a6;
  font-size: 12px;
}
#topbar-outer .header-contact ul {
  padding: 10px;
  border: 1px solid #342c3d;
  background-color: #1d1427;
  position: absolute;
  display: none;
  top: 35px;
}
#topbar-outer .header-contact ul li {
  list-style-type: none;
}
#topbar-outer .header-contact ul li .number-box {
  padding: 5px;
}
#topbar-outer .header-contact ul li .number-box .number {
  display: inline-block;
}
#topbar-outer .header-contact ul li i {
  font-size: 12px;
}
#topbar-outer .header-contact ul li .fa-whatsapp {
  color: #1c8d42;
}
#topbar-outer .header-contact ul li .fa-skype {
  color: #00adef;
}
#topbar-outer .login-register {
  float: right;
  padding: 10px 0;
}
#topbar-outer .login-register .icons a {
  color: #a6a6a6;
  text-decoration: none;
}
#topbar-outer .login-register .icons a:hover {
  color: #ffba00;
}
#topbar-outer .login-register .icons .signIn {
  padding-right: 10px;
}

#site-header-main {
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #342c3d;
  background-color: #1d1427;
  z-index: 9;
}
#site-header-main .header-left {
  display: flex;
  align-items: center;
}
#site-header-main .header-left a {
  display: inline-block;
  text-decoration: none;
}
#site-header-main .header-left a img {
  max-width: 100%;
  height: auto;
}
#site-header-main .header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#site-header-main .header-center ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
#site-header-main .header-center ul li {
  margin-right: 15px;
}
#site-header-main .header-center ul li:last-child {
  margin-left: 0;
}
#site-header-main .header-center ul li a {
  text-decoration: none;
  color: #a6a6a6;
  font-size: 20px;
  font-weight: 500;
}
#site-header-main .header-center ul li a:hover {
  color: #ffba00;
}
#site-header-main .header-right {
  display: flex;
  float: right;
}
#site-header-main .header-right span {
  display: block;
  color: #ffba00;
}
#site-header-main .header-right .wishlist {
  padding-right: 10px;
  display: flex;
}
#site-header-main .header-right .wishlist .wish {
  text-decoration: none;
  background-color: #1d1427;
  display: block;
  width: 30px;
  height: 30px;
}
#site-header-main .header-right .wishlist .wish img {
  background-color: #1d1427 !important;
  width: 100%;
  height: 100%;
}
#site-header-main .header-right .basket {
  display: flex;
}
#site-header-main .header-right .basket .cart {
  text-decoration: none;
  background-color: #1d1427;
  width: 30px;
  height: 30px;
}
#site-header-main .header-right .basket .cart img {
  background-color: #1d1427 !important;
  width: 100%;
  height: 100%;
}

@media (max-width: 575.98px) {
  #footer-top {
    padding: 100px 0;
  }
  #footer-top h3 {
    color: #ffffff;
    font-size: 15px !important;
    margin: 20px 0;
    text-transform: capitalize;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0.4;
    background: transparent;
    border: none;
    padding-bottom: 20px;
  }
  #footer-top ul {
    padding: 0;
    list-style: none;
  }
  #footer-top ul li {
    padding-bottom: 10px;
  }
  #footer-top ul li .content {
    display: flex;
    margin-bottom: 5px;
  }
  #footer-top ul li .content i {
    font-size: 12px !important;
    color: #ffba00;
  }
  #footer-top ul li .content .contact {
    padding-left: 10px;
  }
  #footer-top ul li .content .contact span {
    color: #a6a6a6;
    font-size: 12px !important;
    font-weight: 600;
  }
  #footer-top ul li a {
    text-decoration: none;
    color: #a6a6a6;
    font-size: 12px !important;
    font-weight: 600;
  }
  #footer-top ul li a:hover {
    color: #ffba00;
  }
  #footer-top p {
    color: #a6a6a6;
    font-size: 12px !important;
    font-weight: 600;
  }
  #footer-top .tnp-widget {
    margin: 10px 0;
    position: relative;
    display: inline-block;
    width: 100%;
  }
  #footer-top .tnp-widget .tnp-submit {
    position: relative;
    width: 35px !important;
    height: 35px !important;
    font-size: 0;
    color: #a6a6a6;
    background-image: url("../../../../assets/img/newsletter.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center 13px;
    padding: 0;
    transition: none;
  }
  #footer-top .tnp-widget form input {
    border: none;
    outline: none;
    height: 45px;
  }
  #footer-top .tnp-widget form .tnp-field {
    vertical-align: top;
    margin-left: 0;
    display: inline-block;
    width: 100%;
  }
  #footer-top .tnp-widget form .tnp-field .tnp-email {
    color: #858588;
    cursor: text;
    margin: 0;
    padding: 11px 45px 11px 15px;
    width: 100%;
    min-width: 200px;
    background-color: #ffffff;
  }
  #footer-top .tnp-widget form .tnp-field-button {
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 991.98px) {
  #footer-top {
    padding: 100px 0;
  }
  #footer-top h3 {
    color: #ffffff;
    font-size: 15px !important;
    margin: 20px 0;
    text-transform: capitalize;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0.4;
    background: transparent;
    border: none;
    padding-bottom: 20px;
  }
  #footer-top ul {
    padding: 0;
    list-style: none;
  }
  #footer-top ul li {
    padding-bottom: 10px;
  }
  #footer-top ul li .content {
    display: flex;
    margin-bottom: 5px;
  }
  #footer-top ul li .content i {
    font-size: 12px !important;
    color: #ffba00;
  }
  #footer-top ul li .content .contact {
    padding-left: 10px;
  }
  #footer-top ul li .content .contact span {
    color: #a6a6a6;
    font-size: 12px !important;
    font-weight: 600;
  }
  #footer-top ul li a {
    text-decoration: none;
    color: #a6a6a6;
    font-size: 12px !important;
    font-weight: 600;
  }
  #footer-top ul li a:hover {
    color: #ffba00;
  }
  #footer-top p {
    color: #a6a6a6;
    font-size: 12px !important;
    font-weight: 600;
  }
  #footer-top .tnp-widget {
    margin: 10px 0;
    position: relative;
    display: inline-block;
    width: 100%;
  }
  #footer-top .tnp-widget .tnp-submit {
    position: relative;
    width: 35px !important;
    height: 35px !important;
    font-size: 0;
    color: #a6a6a6;
    background-image: url("../../../../assets/img/newsletter.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center 13px;
    padding: 0;
    transition: none;
  }
  #footer-top .tnp-widget form input {
    border: none;
    outline: none;
    height: 45px;
  }
  #footer-top .tnp-widget form .tnp-field {
    vertical-align: top;
    margin-left: 0;
    display: inline-block;
    width: 100%;
  }
  #footer-top .tnp-widget form .tnp-field .tnp-email {
    color: #858588;
    cursor: text;
    margin: 0;
    padding: 11px 45px 11px 15px;
    width: 100%;
    min-width: 200px;
    background-color: #ffffff;
  }
  #footer-top .tnp-widget form .tnp-field-button {
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
}

footer {
  background-color: #1d1427;
  background-image: url("../../../../assets/img/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
footer #footer-top {
  padding: 100px 0;
}
footer #footer-top h3 {
  color: #ffffff;
  font-size: 18px;
  margin: 20px 0;
  text-transform: capitalize;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.4;
  background: transparent;
  border: none;
  padding-bottom: 20px;
}
footer #footer-top ul {
  padding: 0;
  list-style: none;
}
footer #footer-top ul li {
  padding-bottom: 10px;
}
footer #footer-top ul li .content {
  display: flex;
  margin-bottom: 5px;
}
footer #footer-top ul li .content i {
  font-size: 15px;
  color: #ffba00;
}
footer #footer-top ul li .content .contact {
  padding-left: 10px;
}
footer #footer-top ul li .content .contact span {
  color: #a6a6a6;
  font-size: 15px;
  font-weight: 600;
}
footer #footer-top ul li a {
  text-decoration: none;
  color: #a6a6a6;
  font-size: 15px;
  font-weight: 600;
}
footer #footer-top ul li a:hover {
  color: #ffba00;
}
footer #footer-top p {
  color: #a6a6a6;
  font-size: 15px;
  font-weight: 600;
}
footer #footer-top .tnp-widget {
  margin: 10px 0;
  position: relative;
  display: inline-block;
  width: 100%;
}
footer #footer-top .tnp-widget .tnp-submit {
  position: relative;
  width: 45px;
  height: 45px;
  font-size: 0;
  color: #a6a6a6;
  background-image: url("../../../../assets/img/newsletter.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center 13px;
  padding: 0;
  transition: none;
}
footer #footer-top .tnp-widget form input {
  border: none;
  outline: none;
  height: 45px;
}
footer #footer-top .tnp-widget form .tnp-field {
  vertical-align: top;
  margin-left: 0;
  display: inline-block;
  width: 100%;
}
footer #footer-top .tnp-widget form .tnp-field .tnp-email {
  color: #858588;
  cursor: text;
  margin: 0;
  padding: 11px 45px 11px 15px;
  width: 100%;
  min-width: 200px;
  background-color: #ffffff;
}
footer #footer-top .tnp-widget form .tnp-field-button {
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
}
footer .backtotop #to-top {
  cursor: pointer;
  height: 28px;
  width: 28px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  text-align: center;
  z-index: 99;
  background-color: #f9aa01;
  font-size: 0;
  color: #1d1427;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
footer .backtotop #to-top::before {
  font-family: "FontAwesome";
  content: "\f102";
  font-size: 12px !important;
  position: absolute;
  left: 2px !important;
  right: 3px !important;
  top: 5px !important;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
footer .backtotop #to-top::after {
  content: "";
  border: 2px solid #f9aa01 !important;
  display: block;
  position: absolute;
  height: 35px;
  width: 35px;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
  transition: all 0.5s ease 0s;
}
footer .backtotop #to-top:hover::after {
  animation: none;
  -webkit-animation: none;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
}

body {
  background-color: #1d1427;
  background-image: url("/assets/img/body-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #888888;
}

#main-inner {
  margin: 50px 0;
}
#main-inner .link a {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  padding: 0 0px;
  letter-spacing: 0.6px;
}
#main-inner .link a:hover {
  color: #ffba00;
}
#main-inner .link .shop {
  color: #ffffff;
}

#shop #product-category {
  clear: both;
  list-style: outside none none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0px;
  background: #170f1f;
}
#shop #product-category .title-outer {
  margin-bottom: 10px;
}
#shop #product-category .title-outer .widget-title {
  color: #ffffff;
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 12px 15px;
  margin-bottom: 0px;
  border-bottom: 1px solid #342c3d;
}
#shop #product-category .product-categories {
  list-style: none;
  padding: 12px 15px;
}
#shop #product-category .product-categories li {
  padding: 3px 0;
}
#shop #product-category .product-categories li a {
  text-decoration: none;
  color: #a6a6a6;
}
#shop #product-category .product-categories li a:hover {
  color: #ffba00;
}
#shop #product-price {
  clear: both;
  list-style: outside none none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0px;
  background: #170f1f;
}
#shop #product-price .title-outer {
  margin-bottom: 10px;
}
#shop #product-price .title-outer .widget-title {
  color: #ffffff;
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 12px 15px;
  margin-bottom: 0px;
  border-bottom: 1px solid #342c3d;
}
#shop #product-price form {
  border: 0;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
#shop #product-tag {
  clear: both;
  list-style: outside none none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0px;
  background: #170f1f;
}
#shop #product-tag .title-outer {
  margin-bottom: 10px;
}
#shop #product-tag .title-outer .widget-title {
  color: #ffffff;
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 12px 15px;
  margin-bottom: 0px;
  border-bottom: 1px solid #342c3d;
}
#shop #product-tag .tagcloud {
  padding: 10px 15px;
  border-top: none;
}
#shop #product-tag .tagcloud a {
  display: inline-block;
  text-transform: capitalize;
  padding: 4px 8px 3px;
  margin: 3px 2px 3px 0;
  font-size: 13px !important;
  line-height: 27px;
  color: #ffffff;
  background-color: #23172f;
  transition: all 500ms ease 0s;
  text-decoration: none;
}
#shop #product-tag .tagcloud a:hover {
  color: #ffba00;
}

.price_slider_wrapper {
  margin: 20px;
}

.price_slider {
  background-color: #f1f1f1;
  height: 10px;
  position: relative;
}

.ui-slider-range {
  background-color: #ffba00;
}

.ui-slider-handle {
  background-color: #ffba00;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  cursor: pointer;
}

.price_slider_amount {
  margin-top: 10px;
}

.price_slider_amount input[type=text] {
  display: inline-block;
  margin-right: 10px;
  width: 100px;
}

.price_slider_amount .button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.price_label {
  margin-top: 10px;
  font-weight: bold;
}

.clear {
  clear: both;
}/*# sourceMappingURL=shop.css.map */