@import "../layout/header";
@import "../layout/footer";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body{
    background-color: #1d1427;
    background-image: url("/assets/img/body-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: #888888;
}


#main-inner{

    margin: 50px 0;
    .page{
        display: flex;
        justify-content: space-between;

        .link{

            a{
                text-decoration: none;
                 color: #ffffff;
                font-weight: normal;
                 padding: 0 0px;
                letter-spacing: 0.6px;
                &:hover{
                    color:#ffba00;
                }
                
            }
            .shop{
                color: #ffffff;
            }
    
        }

        .title{

            h3{
             font-size: 25px;
             color: #ffffff;
            }
        }
    }

  
   
}

#shop{


    #product-category{
        clear: both;
        list-style: outside none none;
        margin: 0 0 30px;
        overflow: hidden;
        padding: 0px;
        background: #170f1f;

            .title-outer{

                margin-bottom: 10px;
                .widget-title{
                    color: #ffffff;
                    margin: 0;
                    position: relative;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    text-transform: capitalize;
                    padding: 12px 15px;
                    margin-bottom: 0px;
                    border-bottom: 1px solid #342c3d;
                }
            }

            .product-categories{
                list-style: none;
                padding: 12px 15px;
                
                li{

                    padding: 3px 0;
                    a{
                        text-decoration: none;
                        color: #a6a6a6;
                        &:hover{
                            color: #ffba00;
                        }
                    }
                }
            }
    }

    #product-price{
        clear: both;
        list-style: outside none none;
        margin: 0 0 30px;
        overflow: hidden;
        padding: 0px;
        background: #170f1f;

            .title-outer{

                margin-bottom: 10px;
                .widget-title{
                    color: #ffffff;
                    margin: 0;
                    position: relative;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    text-transform: capitalize;
                    padding: 12px 15px;
                    margin-bottom: 0px;
                    border-bottom: 1px solid #342c3d;
                }
            }
            form{
               
                .range-slider {
                    position: relative;
                   margin-top: 20px;
                  padding-bottom: 20px;
    
                }
    
                input[type=range] {
                    width: 90%;
                    background: transparent;
                    position: absolute;
                    left: 5%;
                }
    
                input[type=range]::-webkit-slider-thumb {
                    height: 5px !important;
                    width: 5px !important;
                    border-radius: 50%;
                    background: #2d2536;
    
                    cursor: pointer;
                    margin-top: -5px;
                    position: relative;
                    z-index: 1;
                }
    
    
                input[type=range]::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 4px;
                    background: #2d2536;
                    border-radius: 3px;
                    border: none;
                }

                .button{
                    position: relative;
                    left: 5%;
                   
                    border: none;
                    button{
                        background-color: #23172f;
                        padding: 7px 20px;
                        color: #ffffff;
                        border: none;
                        &:hover{
                            color: #ffba00;
                        }
                    }

                }

                .price_label{

                    padding: 20px;
                    color: #ffba00;
                }
            }
    }

    #product-tag{
        clear: both;
        list-style: outside none none;
        margin: 0 0 30px;
        overflow: hidden;
        padding: 0px;
        background: #170f1f;
        .title-outer{

            margin-bottom: 10px;
            .widget-title{
                color: #ffffff;
                margin: 0;
                position: relative;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                text-transform: capitalize;
                padding: 12px 15px;
                margin-bottom: 0px;
                
                border-bottom: 1px solid #342c3d;
            }
        }

        .tagcloud{

            padding: 10px 15px;
            border-top: none;
            a{
                display: inline-block;
                text-transform: capitalize;
                padding: 4px 8px 3px;
                margin: 3px 2px 3px 0;
                font-size: 13px !important;
                line-height: 27px;
                color: #ffffff;
                background-color: #23172f;
                -webkit-transition: all 500ms ease 0s;
                -moz-transition: all 500ms ease 0s;
                -o-transition: all 500ms ease 0s;
                transition: all 500ms ease 0s;
                text-decoration: none;
                &:hover{
                    color: #ffba00;
                }
            }
        }
    }


    #top-rated-products{
        clear: both;
        list-style: outside none none;
        margin: 0 0 30px;
        overflow: hidden;
        padding: 0px;
        background: #170f1f;
        .title-outer{

            margin-bottom: 10px;
            .widget-title{
                color: #ffffff;
                margin: 0;
                position: relative;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                text-transform: capitalize;
                padding: 12px 15px;
                margin-bottom: 0px;
                
                border-bottom: 1px solid #342c3d;
            }
        }

        ul{

            list-style: none;
            padding: 10px 15px;
            li{
                width: 100%;
                a{
                    text-decoration: none;

                    .content{
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: space-around;
                        .left{
                            width: 35%;
                            height: 35%;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .right{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            .title{
                                span{
                                    padding: 0;
                                    font-weight: 400;
                                    color: #888888;
                                    font-size: 15px;
                                    &:hover{
                                        color: #ffba00;
                                    }

                                }
                               
                            }

                            i{
                                color: #ffffff;
                                font-size: 12px;
                            }
                            .orange{
                                color: #ffba00;
                            }

                            span{
                                color: #ffba00;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    #left-banner-widget-2{
        clear: both;
        list-style: outside none none;
        margin: 0 0 30px;
        overflow: hidden;
        padding: 0px;
        background: #170f1f;
        .left-banner{

            img{
                max-width: 100%;
            }
        }
    }


    .toolbar{
        padding-top:12px;
        display: flex;
         justify-content: space-between;
         align-items: center;
         .left{
            p{
                color: #888888;
            }

         }

         .right{
           
            select{
                
                height: 20px;
                float: right;
                background-color: #1d1427;
                color: #888888;
               
                option{

                    font-size: 12px;
                }
            }
         }
    }
}


