@import "../layout/header";
@import "../layout/footer";





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body{
    background-color: #1d1427;
    background-image: url("/assets/img/body-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: #888888;
}

#page-title{

    margin: 50px 0;
    .page{
        display: flex;
        justify-content: space-between;

        .link{

            a{
                text-decoration: none;
                 color: #ffffff;
                font-weight: normal;
                 padding: 0 0px;
                letter-spacing: 0.6px;
                &:hover{
                    color:#ffba00;
                }
                
            }
            .shop{
                color: #ffffff;
            }
    
        }

        .title{

            h3{
             font-size: 25px;
             color: #ffffff;
            }
        }
    }
}


#about{
    margin-bottom: 30px;

    .swiper {
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      }
  
    .swiper-pagination{
        span{
            color: #ffba00;
            background-color: #ffba00;
        }
      
    }

    .about-content{

        h3{
            color: #ffffff;
            font-size: 23px;
            line-height: 26px;
            font-weight: 500;
            letter-spacing: 0.2px;
            text-transform: capitalize;
            padding-bottom: 17px;
            border-bottom: 2px solid #ffba00;
            
        }

        p{

            margin: 20px 0;
        }

        .text{

            .info{

                margin-top: 10px;
                i{
                    color: #ffba00;
                }

                span{

                    color: #888888;
                }
            }
        }
    }



}
